body {
    box-sizing: border-box;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: burlywood;
    color: beige;
    /* without this, pixel art is blurry, found this solution on Stack Overflow. */
    image-rendering: pixelated;
}

#russImg {
    width: 140px;
}

#plusImg {
    display: none;
    position: absolute;
    left: 55%;
    width: 50px;
    rotate: 15deg;
}

button {
    color: beige;
    background-color: rgb(153, 126, 93);
    border-color: rgb(131, 108, 80);
    border-radius: 4px;
    height: 40px;
}


#logout {
    position: fixed;
    top: 2px;
    height: 40px;
}


#logout {
    left: 1px;
}

#unlocks {
    border-radius: 6px;
    background-color: rgb(166, 138, 102);
    width: 160px;
    height: 700px;
    position: absolute;
    left: 150px;
    top: 60px;
}

#upgrades {
    border-radius: 6px;
    background-color: rgb(166, 138, 102);
    width: 160px;
    height: 700px;
    position: absolute;
    right: 150px;
    top: 60px;
}

#bronze,
#silver,
#gold {
    width: 25px;
    display: inline-block;
}

#offline,
#ten,
#hundred {
    height: 65px;
}

#leaderboardButton {
    height: 55px;
    width: 100px;
}

.upunbutton {
    width: 90px;
    height: 20px;
}

#popupContainer {
    position: fixed;
    top: 5px;
    width: 100%;
    height: 135px;
}

#popup {
    width: 250px;
    height: 100%;
    margin: auto;
    border-radius: 6px;
    background-color: rgb(166, 138, 102);
    display: none;
}

#popupButton {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}