body {
    box-sizing: border-box;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: burlywood;
    color: beige;
    /* without this, pixel art is blurry, found this solution on Stack Overflow. */
    image-rendering: pixelated;
}

#russImg {
    width: 300px;
}