body {
    box-sizing: border-box;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: burlywood;
    color: beige;
}

#russButton {
    background-color: rgb(145, 121, 89);
    width: 100px;
    height: 70px;
    margin: auto;
    vertical-align: middle;
}

#russButton:hover {
    background-color: rgb(118, 98, 72);
}